<header class="header" >
  <div class="header_inner">
    <div class="nav">
      <h1 class="nav_left"><a>DMspace</a></h1>
      <div class="nav_right">
        <%= link_to "ログアウト", "#", class: :nav_btn %>
        <%= link_to "New Post", "#", class: :nav_btn %>
      </div>
      <div class="nav_right">
        <%= link_to "trainer", "#", class: :nav_btn %>
        <%= link_to "cliant", "#", class: :nav_btn %>
        <%= link_to "新規登録", "#", class: :nav_btn %>
       </div>
    </div>
  </div>
</header>
<div class="contents">
  <div class="first-view">
    <%= image_tag 'top_view.jpg', class: :top_view %>
  </div>
</div>
