<header class="header" >
  <div class="header_inner">
    <div class="nav">
      <h1 class="nav_left"><a>DMspace</a></h1>
      <% if trainer_signed_in? or cliant_signed_in? %>
        <div class="nav_right">
          <%= link_to "trainer_out", destroy_trainer_session_path, method: :delete, class: :nav_btn %>
          <%= link_to "cliatn_out", destroy_cliant_session_path, method: :delete, class: :nav_btn %>
          <%= link_to "New Post", new_post_path, class: :nav_btn %>
        </div>
      <% else %>
        <div>
          <%= link_to "trainer_in", new_trainer_session_path, class: :nav_btn %>
          <%= link_to "cliant_in", new_cliant_session_path, class: :nav_btn %>
        </div>
        <div class="nav_right">
          <%= link_to "trainer", new_trainer_registration_path, class: :nav_btn %>
          <%= link_to "cliant", new_cliant_registration_path, class: :nav_btn %>
        </div>
      <% end %>
    </div>
  </div>
</header>
<div class="card_wrapper">
  <div class="card">
    <%= link_to image_tag(@posts.image, class: :card_img ), posts_path %>
    <div class="card_body">
      <%= link_to "postのタイトル", posts_path %>
      <p class="card_summary">
        <%= "postの説明文" %>
      </p>
      <%= link_to "by postの投稿者名", posts_path, class: :card_user %>
    </div>
  </div>
</div>